@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    align-content: center;
    background: #2F1893;
    flex-direction: column;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex {
    display: flex;
}

.gap-20 {
    gap: 20px;
}

.padding-top {
    padding-top: 20px;
}

.padding-bottom {
    padding-bottom: 20px;
}

.w-100 {
    width: 100%;
}

.jc {
    justify-content: space-between;
}

.ai {
    align-items: center;
}

.logo {
    font-family: "poppins", sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    letter-spacing: -0.2926828861236572px;
}

.li {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    padding-top: 5px;
}

.sign-up {
    width: 100px;
    height: 40px;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #FFFFFF;
    border-radius: 100px;
    border: none;
    background: #482BE7;
    padding: 7px 18px;
    text-align: center;
    cursor: pointer;
}

.sign-up:hover {
    color: black;
    background: white;

}

.heading {
    max-width: 597px;
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 73.2px;
}

.input {
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    gap: 10px;
}

.email {
    width: 350px;
    min-height: 60px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    font-family: "DM Sans", sans-serif;
    border-radius: 100px;
    border: 2px solid #ffffff4b;
    background-color: #2F1893;
    padding-left: 24px;
}

.email:hover {
    background: white;
    font-style: inherit;
    color: black;
}

.btn {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.25px;
    text-align: center;
    color: #FFFFFF;
    background: #25DAC5;
    width: 120px;
    border-radius: 30px;
    padding: 16px 33px;
    border: none;
}

.btn:hover {
    background: white;
    font-style: inherit;
    color: black;
}

.line {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.20000000298023224px;
    color: #ffffff4b;
    margin-top: 32.4px;
    text-align: center;
}

.label {
    background: #807e7e;
    padding: 6px;
    color: white;
    border-radius: 6px;
    position: relative;
    z-index: 11;
    display: block;
}

.flex-grow {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-items: center;
}

@media (max-width:553px) {
    .btn {
        margin-top: 12px;
    }

    .email {
        width: 100%;
    }
}

@media (max-width:767.98px) {
    .menu-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        background-color: grey;
        transition: all 200ms linear;
    }

    label[for="openslider"] {
        width: 40px;
        height: 25px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
    }

    label[for="openslider"] span {
        width: 100%;
        height: 5px;
        background-color: white;
        border-radius: 3px;
        transition: all 200ms linear;
    }

    input:checked~.menu-box {
        right: 0;
    }

    input:checked~label[for="openslider"] span:first-child {
        transform: rotate(30deg);
        transform-origin: left;
    }

    input:checked~label[for="openslider"] span:last-child {
        transform: rotate(-30deg);
        transform-origin: left;
    }

    input:checked~label[for="openslider"] span:nth-child(2) {
        transform: translateX(-40px);
        opacity: 0;
        visibility: hidden;
    }
}